asgiref
attrs
awsebcli
botocore
cement
certifi
cffi
charset-normalizer
cloudinary
colorama
Cython
distlib
Django
docker
EB
filelock
h11
idna
jmespath
markdown-it-py
mdurl
numpy
outcome
packaging
pathspec
Pillow
platformdirs
psycopg2-binary
pycparser
pypiwin32
PyQRCode
PySocks
python-dateutil
python-dotenv
pywin32
PyYAML
requests
scipy
selenium
semantic-version
setuptools
six
sniffio
sortedcontainers
sqlparse
termcolor
trio
trio-websocket
tzdata
urllib3
virtualenv
wcwidth
webdriver-manager
wheel
wsproto
gunicorn